{
	"root": true,
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"airbnb-base",
		"airbnb-typescript/base",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["@typescript-eslint"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"no-tabs": "off",
		"no-plusplus": "off",
		"no-param-reassign": "off",
		"no-nested-ternary": "off",
		"import/extensions": "off",
		"import/no-unresolved": "off",
		"import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
		"class-methods-use-this": "off",
		"max-len": ["error", { "code": 180 }],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"@typescript-eslint/indent": ["error", "tab", { "SwitchCase": 1 }],
		"prefer-destructuring": ["error", { "object": true, "array": false }]
	}
}
