# Default
.idea
.vscode

# Node
node_modules

# Dist & test
demo/build
demo/dist

# Tests
cypress/videos

# BD, logs
*.log

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Special
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?
