[data-vc-theme='dark'].vc {
  @apply bg-slate-900 text-white;
}

[data-vc-theme='dark'].vc[data-vc-input] {
  @apply shadow-[0_9px_20px_rgba(0,0,0,.1)];
}

[data-vc-theme='dark'].vc:focus-visible,
[data-vc-theme='dark'].vc button:focus-visible,
[data-vc-theme='dark'].vc [tabindex='0']:focus-visible {
  @apply outline-orange-300;
}

[data-vc-theme='dark'] .vc-arrow {
  @apply bg-transparent before:bg-dark-arrow surehover:hover:before:opacity-60;
}

[data-vc-theme='dark'] .vc-header__content {
  @apply text-white;
}

[data-vc-theme='dark'] .vc-month,
[data-vc-theme='dark'] .vc-year {
  @apply text-white surehover:hover:text-slate-500 disabled:text-slate-700 disabled:opacity-80;
}

[data-vc-theme='dark'] .vc-months__month,
[data-vc-theme='dark'] .vc-years__year {
  @apply bg-slate-900 text-white surehover:hover:bg-slate-800 disabled:text-slate-700 disabled:opacity-80 disabled:surehover:hover:text-slate-700;
}

[data-vc-theme='dark'] .vc-months__month[data-vc-months-month-selected],
[data-vc-theme='dark'] .vc-years__year[data-vc-years-year-selected] {
  @apply bg-slate-500 text-white surehover:hover:bg-slate-500 surehover:hover:text-white;
}

[data-vc-theme='dark'] .vc-week-numbers__title {
  @apply text-white;
}

[data-vc-theme='dark'] .vc-week-number {
  @apply text-white surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-week__day {
  @apply text-white surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-week__day[data-vc-week-day-off] {
  @apply text-rose-500 surehover:hover:text-rose-600;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-weekend][data-vc-date-selected] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-holiday][data-vc-date-selected] .vc-date__btn {
  @apply bg-rose-500 bg-opacity-80 text-white surehover:hover:bg-rose-500 surehover:hover:bg-opacity-80 surehover:hover:text-white;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-weekend][data-vc-date-month='prev'][data-vc-date-selected] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-holiday][data-vc-date-month='prev'][data-vc-date-selected] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-weekend][data-vc-date-month='next'][data-vc-date-selected] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-holiday][data-vc-date-month='next'][data-vc-date-selected] .vc-date__btn {
  @apply bg-slate-800 text-slate-300 surehover:hover:bg-slate-800 surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-selected] .vc-date__btn {
  @apply bg-cyan-500 bg-opacity-80 text-white surehover:hover:bg-cyan-500 surehover:hover:bg-opacity-80 surehover:hover:text-white;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-month='prev'][data-vc-date-selected] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-selected='middle'][data-vc-date-month='next'][data-vc-date-selected] .vc-date__btn {
  @apply bg-slate-800 text-slate-300 surehover:hover:bg-slate-800 surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-date__btn {
  @apply text-slate-400 bg-slate-900 surehover:hover:bg-slate-800 surehover:hover:text-slate-200;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-today] .vc-date__btn {
  @apply text-cyan-500 surehover:hover:text-cyan-500 bg-slate-800;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-today][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-today][data-vc-date-month='next'] .vc-date__btn {
  @apply text-slate-600;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-month='next'] .vc-date__btn {
  @apply text-slate-600;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-disabled] .vc-date__btn {
  @apply text-slate-700 opacity-80;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-hover] .vc-date__btn {
  @apply bg-slate-800;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday] .vc-date__btn {
  @apply text-rose-500 surehover:hover:bg-slate-800 surehover:hover:text-rose-500;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-hover] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-hover] .vc-date__btn {
  @apply bg-slate-800 text-rose-500;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-disabled] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-disabled] .vc-date__btn {
  @apply text-slate-700 opacity-80;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-today] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-today] .vc-date__btn {
  @apply text-rose-500;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-today][data-vc-date-disabled] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-today][data-vc-date-disabled] .vc-date__btn {
  @apply text-slate-700;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-month='next'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-month='next'] .vc-date__btn {
  @apply bg-slate-900 text-slate-600 surehover:hover:bg-slate-800 surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-hover][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-hover][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-hover][data-vc-date-month='next'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-hover][data-vc-date-month='next'] .vc-date__btn {
  @apply bg-slate-800;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-today][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-today][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-today][data-vc-date-month='next'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-today][data-vc-date-month='next'] .vc-date__btn {
  @apply text-slate-400;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-disabled][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-disabled][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-disabled][data-vc-date-month='next'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-disabled][data-vc-date-month='next'] .vc-date__btn {
  @apply text-slate-700 opacity-80;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-selected] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-selected] .vc-date__btn {
  @apply bg-rose-500 text-white surehover:hover:bg-rose-500 surehover:hover:text-white;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-selected][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-selected][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-weekend][data-vc-date-selected][data-vc-date-month='next'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-holiday][data-vc-date-selected][data-vc-date-month='next'] .vc-date__btn {
  @apply bg-slate-700 text-slate-300 surehover:hover:bg-slate-700 surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-selected] .vc-date__btn {
  @apply bg-cyan-500 text-white surehover:hover:bg-cyan-500 surehover:hover:text-white;
}

[data-vc-theme='dark'] .vc-date[data-vc-date-selected][data-vc-date-month='prev'] .vc-date__btn,
[data-vc-theme='dark'] .vc-date[data-vc-date-selected][data-vc-date-month='next'] .vc-date__btn {
  @apply bg-slate-700 text-slate-300 surehover:hover:bg-slate-700 surehover:hover:text-slate-300;
}

[data-vc-theme='dark'] .vc-date__popup {
  @apply text-white bg-slate-800 shadow-[inset_0_0_0_1px_rgb(255_255_255_/_0.05)];
}

[data-vc-theme='dark'] .vc-date-range-tooltip {
  @apply text-slate-400 bg-slate-800 shadow-[inset_0_0_0_1px_rgb(255_255_255_/_0.05)];
}

[data-vc-theme='dark'] .vc-time {
  @apply border-slate-800;
}

[data-vc-theme='dark'] .vc-time__hour,
[data-vc-theme='dark'] .vc-time__minute {
  @apply after:text-white;
}

[data-vc-theme='dark'] .vc-time__hour input,
[data-vc-theme='dark'] .vc-time__minute input {
  @apply text-white bg-slate-900 surehover:hover:bg-slate-700 focus-visible:outline-orange-300;
}

[data-vc-theme='dark'] .vc-time__hour input[data-vc-input-focus],
[data-vc-theme='dark'] .vc-time__minute input[data-vc-input-focus] {
  @apply bg-slate-700;
}

[data-vc-theme='dark'] .vc-time__keeping {
  @apply text-slate-500 surehover:hover:bg-slate-700 surehover:hover:text-slate-400 focus-visible:outline-orange-300;
}

[data-vc-theme='dark'] .vc-time__range input {
  @apply bg-slate-900;
}

[data-vc-theme='dark'] .vc-time__range::before,
[data-vc-theme='dark'] .vc-time__range::after {
  @apply bg-slate-600;
}

[data-vc-theme='dark'] .vc-time__range:hover input::-webkit-slider-thumb {
  @apply border-slate-400;
}

[data-vc-theme='dark'] .vc-time__range:hover input::-moz-range-thumb {
  @apply border-slate-400;
}

[data-vc-theme='dark'] .vc-time__range input:focus-visible::-webkit-slider-thumb {
  @apply border-orange-300;
}

[data-vc-theme='dark'] .vc-time__range input:focus-visible::-moz-range-thumb {
  @apply border-orange-300;
}

[data-vc-theme='dark'] .vc-time__range input::-webkit-slider-thumb {
  @apply border-slate-600 bg-slate-800;
}

[data-vc-theme='dark'] .vc-time__range input::-moz-range-thumb {
  @apply border-slate-600 bg-slate-800;
}

[data-vc-theme='dark'] .vc-time__range input::-webkit-slider-runnable-track {
  @apply bg-slate-600;
}

[data-vc-theme='dark'] .vc-time__range input::-moz-range-track {
  @apply bg-slate-600;
}
