name: Testing and deploy

on:
  push:
    branches:
      - main

jobs:
  cypress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup npm package
        run: npm install
      - name: Testing
        uses: cypress-io/github-action@v7
        with:
          start: npm run dev
  deploy:
    runs-on: ubuntu-latest
    needs: cypress
    steps:
      - uses: actions/checkout@v6

      - name: Copy repository contents via scp
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.KEY }}
          source: '.'
          target: ${{ secrets.TARGET }}

      - name: Build app
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.KEY }}
          script: |
            cd ${{ secrets.TARGET }}
            yarn install --frozen-lockfile
            yarn package:build
